:root {
    --primary: #60d184;
    --secondary: #10261e;
    --off-white: #faf8f4;
    --dark-grey: #3b3b3b;
}

* {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    @media (max-width: 600px) {
        overflow-x: none;
    }
}

body {
    height: 100svh;
    width: 100svw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    @media (max-width: 600px) {
        flex-direction: column;
        overflow-x: none;
    }
}

.modal {
    color: var(--off-white);
}

.modal-content {
    height: 30%;
    width: 20%;
    background-color: white;
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-family: "Poppins", sans-serif;
    border-radius: 1rem;
}

.modal-content h1 {
    font-family: "Poppins", sans-serif;
    font-size: 200%;
    font-weight: 900;
}

.user-input {
    margin-bottom: 2rem;
    border: none;
    height: 15%;
    width: 40%;
    background-color: #f3f3f3;
    border-radius: 2rem;
    padding: 1rem;
    font-family: "Poppins", sans-serif;
}

.user-input:focus {
    outline-color: var(--primary);
}

.nav-container {
    height: 100%;
    width: 15%;
    background-color: var(--secondary);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    @media (max-width: 600px) {
        height: 5%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.navbar-title-container {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--off-white);
    font-size: 200%;
    font-weight: 700;
    @media (max-width: 600px) {
        display: none;
    }
}

.navbar-title {
    text-decoration: none;
    color: var(--off-white);
    @media (max-width: 600px) {
        display: none;
    }
}

.navbar-title:hover {
    color: var(--off-white);
}

.navbar-title:visited {
    color: var(--off-white);
}

.navbar-selections-container {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    color: var(--off-white);
    font-size: 120%;
    @media (max-width: 600px) {
        flex-direction: row;
        font-size: 100%;
    }
}

.navbar-selection {
    padding-left: 3rem;
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    color: var(--off-white);
    @media (max-width: 600px) {
        height: 80%;
        width: 30%;
        padding: 0;
        justify-content: center;
    }
}

.navbar-selection:hover {
    background-color: #aaaaaa3b;
    @media (max-width: 600px) {
        background-color: var(--secondary);
    }
}

.main-container {
    height: 100%;
    width: 85%;
    background-color: coral ;
    overflow-y: scroll;
    @media (max-width: 600px) {
        height: 95%;
        width: 100%;
    }
}

.landing-page {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--off-white);
    color: var(--off-white);
    @media (max-width: 600px) {
        
    }
}

.logo-container {
    height: 50%;
    width: 40%;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 600px) {
        height: 10%;
        width: 80%;
    }
}

.logo {
    height: 7rem;
    width: 7rem;
    margin-right: 1rem;
    @media (max-width: 600px) {
        height: 3rem;
        width: 3rem;
        margin-right: 0.5rem;
    }
}

.landing-page-title-container {
    height: 25%;
    width: 60%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    @media (max-width: 600px) {
        height: 100%;
    }
}

.brand-name-container {
    height: 48%;
    width: 100%;
    text-align: left;
    @media (max-width: 600px) {
        height: 50%;
    }
}

.brand-name {
    font-size: 250% ;
    font-weight: 700;
    color: var(--primary);
    @media (max-width: 600px) {
        font-size: 150%;
    }
}

.slogan-container {
    height: 30%;
    width: 100%;
}

.slogan {
    color: #c4c4c4;
    text-align: left;
    font-size: 80%;
    @media (max-width: 600px) {
        font-size: 60%;
    }
}

/* Lines 186-249 are for the Investing 101 section */
.container-titles {
    font-size: 220%;
    font-weight: 600;
    color: var(--primary);
    text-align: center;
    @media (max-width: 600px) {
        font-size: 120%;  
    }
}

.investing-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--off-white);
}

.investing-details {
    height: 45%;
    width: 90%;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @media (max-width: 600px) {
        flex-direction: column;
        width: 100%;
        height: 65%;
        border-radius: 0;
    }
}

.investing-title-and-paragraph {
    background-color: white;
    height: 90%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: -2px 2px 10px #c4c4c4;
    border-radius: 1rem;
    @media (max-width: 600px) {
        height: fit-content;
        width: 100%;
        border-radius: 0;
        padding: 1rem;
    }
}

.investing-title-container {
    height: 10%;
    width: 95%;
}

.article-info-container {
    height: 80%;
    width: 95%;
    background-color: white;
    align-content: center;
    text-align: center;
    color: black;
    @media (max-width: 600px) {
        height: fit-content;
        font-size: 80%;
        font-weight: 500;
    }
}

.investing-image {
    height: 90%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 600px) {
        height: 45%;
        width: 85%;
    }
}

.investing-image img {
    height: 100%;
}

/* Lines 251-305 are for the Stocks section */

.stocks-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--off-white);
}

.stocks-details {
    height: 45%;
    width: 90%;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @media (max-width: 600px) {
        flex-direction: column;
        width: 100%;
        height: 65%;
        border-radius: 0;
    }
}

.stocks-title-and-paragraph {
    background-color: white;
    height: 90%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1rem;
    box-shadow: -2px 2px 10px #c4c4c4;
    @media (max-width: 600px) {
        height: fit-content;
        width: 100%;
        border-radius: 0;
        padding: 1rem;
    }
}

.stocks-title-container {
    height: 10%;
    width: 95%;
}

.stocks-image-container {
    height: 90%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    overflow: hidden;
}

.stocks-image {
    height: 100%;
    width: 100%;
    @media (max-width: 600px) {
        height: 45%;
        width: 85%;
    }
}

/* Lines 307-358 are for the Crypto section */

.crypto-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--off-white);
}

.crypto-details {
    height: 45%;
    width: 90%;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @media (max-width: 600px) {
        flex-direction: column;
        width: 100%;
        height: 65%;
        border-radius: 0;
    }
}

.crypto-title-and-paragraph {
    background-color: white;
    height: 90%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: -2px 2px 10px #c4c4c4;
    border-radius: 1rem;
    @media (max-width: 600px) {
        height: fit-content;
        width: 100%;
        border-radius: 0;
        padding: 1rem;
    }
}

.crypto-title-container {
    height: 15%;
    width: 95%;
}

.crypto-image {
    height: 90%;
    width: 45%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 600px) {
        height: 45%;
        width: 85%;
    }
}

.crypto-image img {
    height: 100%;
}

.youtube-scrolling-section {
    background-color: white;
    height: 30%;
    width: 90%;
    border-radius: 2rem;
    white-space: nowrap;
    overflow-x: scroll;
    overflow: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: -2px 2px 10px #c4c4c4;
    @media (max-width: 600px) {
        height: 28%;
        width: 100%;
        border-radius: 0;
    }
}

.youtube-video-container {
    height: 80%;
    width: 16rem;
    border-radius: 1rem;
    margin: 0 1rem;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    text-decoration: none;
    background-color: #fcfcfc;
}

.youtube-video-img {
    height: 60%;
    width: 90%;
    background-color: white;
    border-radius: .5rem;
}

.youtube-video-details {
    height: 30%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#channel-img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: white;
}

.youtube-video-title {
    height: 60%;
    width: 75%;
    font-size:80%;
    white-space: wrap;
    display: flex;
    align-items: center;
    justify-content: left;
}

#video-title {
    color: #3b3b3b;
    font-weight: 600;
}