:root {
    --primary: #60d184;
    --secondary: #10261e;
    --off-white: #faf8f4;
    --dark-grey: #3b3b3b;
}

body {
    height: 100svh;
    width: 100svw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.nav-container {
    height: 100%;
    width: 15%;
    background-color: var(--secondary);
}

.main-container {
    height: 100%;
    width: 85%;
    background-color: coral ;
    overflow-y: scroll;
}

.landing-page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.logo-container {
    height: 25%;
    width: 25%;
    background-color: green;
}

/* Lines 45-104 are for the Investing 101 section */

.investing-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--off-white);
}

.investing-details {
    background-color: rgb(78, 78, 78);
    height: 45%;
    width: 90%;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.investing-title-and-paragraph {
    background-color: white;
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.investing-title-container {
    height: 10%;
    width: 95%;
}

.article-info-container {
    height: 80%;
    width: 95%;
    background-color: aliceblue;
}


/* .investing-title-and-paragraph h1 {
    justify-content: center;
    font-size: 15px;
    color: black;
}

.investing-title-and-paragraph p {
    font-size: 8px;
    color: black;
} */

.investing-image {
    background-color: rgb(238, 146, 7);
    height: 100%;
    width: 45%;
}

.youtube-scrolling-section {
    background-color: white;
    height: 30%;
    width: 90%;
    border-radius: 2rem;
    white-space: nowrap;
    overflow-x: scroll;
    overflow: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: -2px 2px 10px #c4c4c4;
}

.youtube-video-container {
    height: 80%;
    width: 16rem;
    background-color: var(--dark-grey);
    border-radius: 1rem;
    margin: 0 1rem;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    text-decoration: none;
}

.youtube-video-img {
    height: 60%;
    width: 90%;
    background-color: white;
    border-radius: .5rem;
}

.youtube-video-details {
    height: 30%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#channel-img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: white;
}

.youtube-video-title {
    height: 100%;
    width: 75%;
    white-space: wrap;
    display: flex;
    align-items: center;
    justify-content: left;
}

#video-title {
    color: white;
}

/* Lines 176-215 are for the Stocks section */

.stocks-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 0, 255);
}

.stocks-details {
    background-color: rgb(78, 78, 78);
    height: 45%;
    width: 90%;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.stocks-title-and-paragraph {
    background-color: white;
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.stocks-title-container {
    height: 10%;
    width: 95%;
}

.stocks-image {
    background-color: rgb(238, 146, 7);
    height: 100%;
    width: 45%;
}

/* Lines 188-258 are for the Crypto section */

.crypto-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--off-white);
}

.crypto-details {
    background-color: rgb(78, 78, 78);
    height: 45%;
    width: 90%;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.crypto-title-and-paragraph {
    background-color: white;
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.crypto-title-container {
    height: 10%;
    width: 95%;
}

.crypto-image {
    background-color: rgb(238, 146, 7);
    height: 100%;
    width: 45%;
}